<main class="container">
    <h1 class="mb-5  text-center ">About Us</h1>
    <!--ABOUT INFO CARDS-->
      <div class="container col cards-outter  ">
          <div class="col m-5 card-group">
              <div class="card about-Russel row-col-1" style="width: 18rem;">
                  <img src="./Assets/me.png" class="card-img-top" alt="...">
                  <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <a href="https://github.com/RussellWaring" class="card-github fas fa-github" target="_blank"><i class="fab fa-github" alt="Russell's Github"></i></a> <br/>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.
                    </p>
                    <button href="#" class="card-button btn btn-primary" target="_blank">Go somewhere</button>
                  </div>
              </div>
              &nbsp;&nbsp;
              &nbsp;&nbsp;
              &nbsp;&nbsp;
              <div class="card about-Kat row-cols-1" style="width: 18rem;">
                  <img src="./Assets/Katherine_Bellman.png" class="card-img-top " alt="...">
                  <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <a href="https://github.com/Tsukiyomi-Inari" class="card-github fas fa-github" target="_blank"><i class="fab fa-github" alt="Katherine's Github"></i></a> <a href="https://codepen.io/tsukiyomi-inari" class="card-github" target="_blank"><i class="fab fa-codepen" alt="Katherine's codepen"></i></a> <br/>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.
                    </p>
                    <button href="#" class="card-button btn btn-primary" target="_blank">Go somewhere</button>
                  </div>
                  </div>
              </div>    
          </div>
        </div>
  </main>