

        <div class="row justify-content-lg-center g-3">
          <h1>Edit Contact</h1>
          <div id="messageArea"></div>
          <form class="col-lg-6 col-md-10 col-sm-10">

            <div class="input-group mb-3">
              <span class="input-group-text" id="inputGroup-sizing-default">Full Name </span>
              <input id="fullName" type="text" class="form-control" aria-label="Full Name" aria-describedby="Full Name Input"
              name="fullName" required>
            </div>

            <div class="input-group mb-3">
              <span class="input-group-text" id="inputGroup-sizing-default">Contact Number</span>
              <input id="contactNumber" type="tel" class="form-control" aria-label="Contact Number" aria-describedby="Contact Number Input"
              name="contactNumber" required>
            </div>

            <div class="input-group mb-3">
              <span class="input-group-text" id="inputGroup-sizing-default">Email</span>
              <input id="emailAddress" type="email" class="form-control" aria-label="Email Address" aria-describedby="Email Address Input"
              name="emailAddress" required>
            </div>

            <button id="editButton" type="button" class="btn btn-primary"><i class="fas fa-edit fa-lg"></i> Edit</button>
            <button id="cancelButton" type="button" class="btn btn-warning"><i class="fas fa-undo fa-lg"></i> Cancel</button>
          </form>
        </div>