<main class="container">
      <h1 class="mb-5  text-center ">Our Products</h1>
      
      <div class="project-container">
        <img src="./Assets/NETD_2202--FINAL- averageWeeklyCasesByRegion.png" style="width:50%" alt="Cases By Region">
        <div class="project-container-text rounded">
          <h6></h6>
          <p></p>
        </div>
      </div>
      <br />
      <div class="project-container">
        <img src="./Assets/netd2202_ice4_waring.PNG" style="width:50%" alt="Joes Coffee">
        <div class="project-container-text rounded">
          <h6></h6>
          <p></p>
        </div>
      </div>
      <br />
      <div class="project-container">
        <img src="./Assets/NETD_2202--FINAL- validation02.png" style="width:50%" alt="Validation">
        <div class="project-container-text rounded">
          <h6></h6>
          <p></p>
        </div>
        
      </div>
    </main>