
    <h1 class="mb-5  text-center ">Our Services</h1>
  <!--Service Group Row 1-->
  <div class="service-group container">
    <h3 class="service-heading mb-3">---</h3>
      <div class="service-types row">
        <div class="service col">
          <i class="fas fa-laptop-code service-icon"></i>
          <p class="h6 service-note rounded">temp text</p>
          
        </div>
        <div class="service col">
        <i class="fas fa-swatchbook service-icon"></i>
         <p class="h6 service-note rounded">temp text</p>
        </div>
        <div class="service col">
          <i class="fas fa-palette service-icon"></i>
          <p class="h6 service-note rounded">temp text</p>
        </div>
      </div>
  </div>
  <span class=" px-md-4"></span>
  <!--Service Group Row 2-->
  <div class="service-group container">
    <h3 class="service-heading mb-3">---</h3>
    <div class="service-types row">
        <div class="service col">
          <i class="fas fa-server service-icon"></i>
          <p class="h6 service-note rounded">temp text</p>
        </div>
        <div class="service col">
          <i class="fas fa-project-diagram service-icon"></i>
          <p class="h6 service-note rounded">temp text</p>
        </div>
        <div class="service col">
          <i class="fas fa-angry service-icon"></i>
          <p class="h6 service-note rounded">temp text</p>
        </div>
      </div>
  </div>
    <span class="flex  px-md-4"></span>
